.auth {
	display: block;
	margin: 0 auto;	
}


@media screen and (min-width: 768px) {
	.auth {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
	}
}

@media screen and (min-width: 968px) {
	.auth {
		width: 30%;
	}
}
