.tabs {
  border: 1px solid #eaeaea;

  .tabs__heading {
    ul {
      list-style: none;
      border-bottom: 1px solid #eaeaea;

      li {
        display: inline-block;
        padding: 10px;
        border: 1px solid #eaeaea;
      }

      li.active {
        background: #eaeaea;
      }
    }
  }

  .tabs__content {
    padding: 10px;
  }
}