* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica, sans-serif; }

html, body {
  height: 100%; }

a, a:visited {
  color: #21C2A2;
  text-decoration: none; }
  a:hover, a:visited:hover {
    opacity: 0.9; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.right {
  float: right; }

.left {
  float: left; }

.no-float {
  float: none; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both; }

.column, .columns {
  position: relative;
  float: left; }

.container, nav .nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, nav .nav-wrapper:before, .container:after, nav .nav-wrapper:after {
    content: " ";
    display: table; }
  .container:after, nav .nav-wrapper:after {
    clear: both; }

@media (min-width: 0) {
  .xs-1 {
    width: calc(100% / 12 * 1); }
  .xs-offset-1 {
    margin-left: calc(100% / 12 * 1); }
  .xs-push-x {
    left: calc(100% / 12 * 1); }
  .xs-pull-x {
    right: calc(100% / 12 * 1); }
  .xs-2 {
    width: calc(100% / 12 * 2); }
  .xs-offset-2 {
    margin-left: calc(100% / 12 * 2); }
  .xs-push-x {
    left: calc(100% / 12 * 2); }
  .xs-pull-x {
    right: calc(100% / 12 * 2); }
  .xs-3 {
    width: calc(100% / 12 * 3); }
  .xs-offset-3 {
    margin-left: calc(100% / 12 * 3); }
  .xs-push-x {
    left: calc(100% / 12 * 3); }
  .xs-pull-x {
    right: calc(100% / 12 * 3); }
  .xs-4 {
    width: calc(100% / 12 * 4); }
  .xs-offset-4 {
    margin-left: calc(100% / 12 * 4); }
  .xs-push-x {
    left: calc(100% / 12 * 4); }
  .xs-pull-x {
    right: calc(100% / 12 * 4); }
  .xs-5 {
    width: calc(100% / 12 * 5); }
  .xs-offset-5 {
    margin-left: calc(100% / 12 * 5); }
  .xs-push-x {
    left: calc(100% / 12 * 5); }
  .xs-pull-x {
    right: calc(100% / 12 * 5); }
  .xs-6 {
    width: calc(100% / 12 * 6); }
  .xs-offset-6 {
    margin-left: calc(100% / 12 * 6); }
  .xs-push-x {
    left: calc(100% / 12 * 6); }
  .xs-pull-x {
    right: calc(100% / 12 * 6); }
  .xs-7 {
    width: calc(100% / 12 * 7); }
  .xs-offset-7 {
    margin-left: calc(100% / 12 * 7); }
  .xs-push-x {
    left: calc(100% / 12 * 7); }
  .xs-pull-x {
    right: calc(100% / 12 * 7); }
  .xs-8 {
    width: calc(100% / 12 * 8); }
  .xs-offset-8 {
    margin-left: calc(100% / 12 * 8); }
  .xs-push-x {
    left: calc(100% / 12 * 8); }
  .xs-pull-x {
    right: calc(100% / 12 * 8); }
  .xs-9 {
    width: calc(100% / 12 * 9); }
  .xs-offset-9 {
    margin-left: calc(100% / 12 * 9); }
  .xs-push-x {
    left: calc(100% / 12 * 9); }
  .xs-pull-x {
    right: calc(100% / 12 * 9); }
  .xs-10 {
    width: calc(100% / 12 * 10); }
  .xs-offset-10 {
    margin-left: calc(100% / 12 * 10); }
  .xs-push-x {
    left: calc(100% / 12 * 10); }
  .xs-pull-x {
    right: calc(100% / 12 * 10); }
  .xs-11 {
    width: calc(100% / 12 * 11); }
  .xs-offset-11 {
    margin-left: calc(100% / 12 * 11); }
  .xs-push-x {
    left: calc(100% / 12 * 11); }
  .xs-pull-x {
    right: calc(100% / 12 * 11); }
  .xs-12 {
    width: calc(100% / 12 * 12); }
  .xs-offset-12 {
    margin-left: calc(100% / 12 * 12); }
  .xs-push-x {
    left: calc(100% / 12 * 12); }
  .xs-pull-x {
    right: calc(100% / 12 * 12); } }

@media (min-width: 544px) {
  .container, nav .nav-wrapper {
    max-width: 576px; }
  .sm-1 {
    width: calc(100% / 12 * 1); }
  .sm-offset-1 {
    margin-left: calc(100% / 12 * 1); }
  .sm-push-x {
    left: calc(100% / 12 * 1); }
  .sm-pull-x {
    right: calc(100% / 12 * 1); }
  .sm-2 {
    width: calc(100% / 12 * 2); }
  .sm-offset-2 {
    margin-left: calc(100% / 12 * 2); }
  .sm-push-x {
    left: calc(100% / 12 * 2); }
  .sm-pull-x {
    right: calc(100% / 12 * 2); }
  .sm-3 {
    width: calc(100% / 12 * 3); }
  .sm-offset-3 {
    margin-left: calc(100% / 12 * 3); }
  .sm-push-x {
    left: calc(100% / 12 * 3); }
  .sm-pull-x {
    right: calc(100% / 12 * 3); }
  .sm-4 {
    width: calc(100% / 12 * 4); }
  .sm-offset-4 {
    margin-left: calc(100% / 12 * 4); }
  .sm-push-x {
    left: calc(100% / 12 * 4); }
  .sm-pull-x {
    right: calc(100% / 12 * 4); }
  .sm-5 {
    width: calc(100% / 12 * 5); }
  .sm-offset-5 {
    margin-left: calc(100% / 12 * 5); }
  .sm-push-x {
    left: calc(100% / 12 * 5); }
  .sm-pull-x {
    right: calc(100% / 12 * 5); }
  .sm-6 {
    width: calc(100% / 12 * 6); }
  .sm-offset-6 {
    margin-left: calc(100% / 12 * 6); }
  .sm-push-x {
    left: calc(100% / 12 * 6); }
  .sm-pull-x {
    right: calc(100% / 12 * 6); }
  .sm-7 {
    width: calc(100% / 12 * 7); }
  .sm-offset-7 {
    margin-left: calc(100% / 12 * 7); }
  .sm-push-x {
    left: calc(100% / 12 * 7); }
  .sm-pull-x {
    right: calc(100% / 12 * 7); }
  .sm-8 {
    width: calc(100% / 12 * 8); }
  .sm-offset-8 {
    margin-left: calc(100% / 12 * 8); }
  .sm-push-x {
    left: calc(100% / 12 * 8); }
  .sm-pull-x {
    right: calc(100% / 12 * 8); }
  .sm-9 {
    width: calc(100% / 12 * 9); }
  .sm-offset-9 {
    margin-left: calc(100% / 12 * 9); }
  .sm-push-x {
    left: calc(100% / 12 * 9); }
  .sm-pull-x {
    right: calc(100% / 12 * 9); }
  .sm-10 {
    width: calc(100% / 12 * 10); }
  .sm-offset-10 {
    margin-left: calc(100% / 12 * 10); }
  .sm-push-x {
    left: calc(100% / 12 * 10); }
  .sm-pull-x {
    right: calc(100% / 12 * 10); }
  .sm-11 {
    width: calc(100% / 12 * 11); }
  .sm-offset-11 {
    margin-left: calc(100% / 12 * 11); }
  .sm-push-x {
    left: calc(100% / 12 * 11); }
  .sm-pull-x {
    right: calc(100% / 12 * 11); }
  .sm-12 {
    width: calc(100% / 12 * 12); }
  .sm-offset-12 {
    margin-left: calc(100% / 12 * 12); }
  .sm-push-x {
    left: calc(100% / 12 * 12); }
  .sm-pull-x {
    right: calc(100% / 12 * 12); } }

@media (min-width: 768px) {
  .container, nav .nav-wrapper {
    max-width: 720px; }
  .md-1 {
    width: calc(100% / 12 * 1); }
  .md-offset-1 {
    margin-left: calc(100% / 12 * 1); }
  .md-push-x {
    left: calc(100% / 12 * 1); }
  .md-pull-x {
    right: calc(100% / 12 * 1); }
  .md-2 {
    width: calc(100% / 12 * 2); }
  .md-offset-2 {
    margin-left: calc(100% / 12 * 2); }
  .md-push-x {
    left: calc(100% / 12 * 2); }
  .md-pull-x {
    right: calc(100% / 12 * 2); }
  .md-3 {
    width: calc(100% / 12 * 3); }
  .md-offset-3 {
    margin-left: calc(100% / 12 * 3); }
  .md-push-x {
    left: calc(100% / 12 * 3); }
  .md-pull-x {
    right: calc(100% / 12 * 3); }
  .md-4 {
    width: calc(100% / 12 * 4); }
  .md-offset-4 {
    margin-left: calc(100% / 12 * 4); }
  .md-push-x {
    left: calc(100% / 12 * 4); }
  .md-pull-x {
    right: calc(100% / 12 * 4); }
  .md-5 {
    width: calc(100% / 12 * 5); }
  .md-offset-5 {
    margin-left: calc(100% / 12 * 5); }
  .md-push-x {
    left: calc(100% / 12 * 5); }
  .md-pull-x {
    right: calc(100% / 12 * 5); }
  .md-6 {
    width: calc(100% / 12 * 6); }
  .md-offset-6 {
    margin-left: calc(100% / 12 * 6); }
  .md-push-x {
    left: calc(100% / 12 * 6); }
  .md-pull-x {
    right: calc(100% / 12 * 6); }
  .md-7 {
    width: calc(100% / 12 * 7); }
  .md-offset-7 {
    margin-left: calc(100% / 12 * 7); }
  .md-push-x {
    left: calc(100% / 12 * 7); }
  .md-pull-x {
    right: calc(100% / 12 * 7); }
  .md-8 {
    width: calc(100% / 12 * 8); }
  .md-offset-8 {
    margin-left: calc(100% / 12 * 8); }
  .md-push-x {
    left: calc(100% / 12 * 8); }
  .md-pull-x {
    right: calc(100% / 12 * 8); }
  .md-9 {
    width: calc(100% / 12 * 9); }
  .md-offset-9 {
    margin-left: calc(100% / 12 * 9); }
  .md-push-x {
    left: calc(100% / 12 * 9); }
  .md-pull-x {
    right: calc(100% / 12 * 9); }
  .md-10 {
    width: calc(100% / 12 * 10); }
  .md-offset-10 {
    margin-left: calc(100% / 12 * 10); }
  .md-push-x {
    left: calc(100% / 12 * 10); }
  .md-pull-x {
    right: calc(100% / 12 * 10); }
  .md-11 {
    width: calc(100% / 12 * 11); }
  .md-offset-11 {
    margin-left: calc(100% / 12 * 11); }
  .md-push-x {
    left: calc(100% / 12 * 11); }
  .md-pull-x {
    right: calc(100% / 12 * 11); }
  .md-12 {
    width: calc(100% / 12 * 12); }
  .md-offset-12 {
    margin-left: calc(100% / 12 * 12); }
  .md-push-x {
    left: calc(100% / 12 * 12); }
  .md-pull-x {
    right: calc(100% / 12 * 12); } }

@media (min-width: 992px) {
  .container, nav .nav-wrapper {
    max-width: 940px; }
  .lg-1 {
    width: calc(100% / 12 * 1); }
  .lg-offset-1 {
    margin-left: calc(100% / 12 * 1); }
  .lg-push-x {
    left: calc(100% / 12 * 1); }
  .lg-pull-x {
    right: calc(100% / 12 * 1); }
  .lg-2 {
    width: calc(100% / 12 * 2); }
  .lg-offset-2 {
    margin-left: calc(100% / 12 * 2); }
  .lg-push-x {
    left: calc(100% / 12 * 2); }
  .lg-pull-x {
    right: calc(100% / 12 * 2); }
  .lg-3 {
    width: calc(100% / 12 * 3); }
  .lg-offset-3 {
    margin-left: calc(100% / 12 * 3); }
  .lg-push-x {
    left: calc(100% / 12 * 3); }
  .lg-pull-x {
    right: calc(100% / 12 * 3); }
  .lg-4 {
    width: calc(100% / 12 * 4); }
  .lg-offset-4 {
    margin-left: calc(100% / 12 * 4); }
  .lg-push-x {
    left: calc(100% / 12 * 4); }
  .lg-pull-x {
    right: calc(100% / 12 * 4); }
  .lg-5 {
    width: calc(100% / 12 * 5); }
  .lg-offset-5 {
    margin-left: calc(100% / 12 * 5); }
  .lg-push-x {
    left: calc(100% / 12 * 5); }
  .lg-pull-x {
    right: calc(100% / 12 * 5); }
  .lg-6 {
    width: calc(100% / 12 * 6); }
  .lg-offset-6 {
    margin-left: calc(100% / 12 * 6); }
  .lg-push-x {
    left: calc(100% / 12 * 6); }
  .lg-pull-x {
    right: calc(100% / 12 * 6); }
  .lg-7 {
    width: calc(100% / 12 * 7); }
  .lg-offset-7 {
    margin-left: calc(100% / 12 * 7); }
  .lg-push-x {
    left: calc(100% / 12 * 7); }
  .lg-pull-x {
    right: calc(100% / 12 * 7); }
  .lg-8 {
    width: calc(100% / 12 * 8); }
  .lg-offset-8 {
    margin-left: calc(100% / 12 * 8); }
  .lg-push-x {
    left: calc(100% / 12 * 8); }
  .lg-pull-x {
    right: calc(100% / 12 * 8); }
  .lg-9 {
    width: calc(100% / 12 * 9); }
  .lg-offset-9 {
    margin-left: calc(100% / 12 * 9); }
  .lg-push-x {
    left: calc(100% / 12 * 9); }
  .lg-pull-x {
    right: calc(100% / 12 * 9); }
  .lg-10 {
    width: calc(100% / 12 * 10); }
  .lg-offset-10 {
    margin-left: calc(100% / 12 * 10); }
  .lg-push-x {
    left: calc(100% / 12 * 10); }
  .lg-pull-x {
    right: calc(100% / 12 * 10); }
  .lg-11 {
    width: calc(100% / 12 * 11); }
  .lg-offset-11 {
    margin-left: calc(100% / 12 * 11); }
  .lg-push-x {
    left: calc(100% / 12 * 11); }
  .lg-pull-x {
    right: calc(100% / 12 * 11); }
  .lg-12 {
    width: calc(100% / 12 * 12); }
  .lg-offset-12 {
    margin-left: calc(100% / 12 * 12); }
  .lg-push-x {
    left: calc(100% / 12 * 12); }
  .lg-pull-x {
    right: calc(100% / 12 * 12); } }

@media (min-width: 1200px) {
  .container, nav .nav-wrapper {
    max-width: 1140px; }
  .xl-1 {
    width: calc(100% / 12 * 1); }
  .xl-offset-1 {
    margin-left: calc(100% / 12 * 1); }
  .xl-push-x {
    left: calc(100% / 12 * 1); }
  .xl-pull-x {
    right: calc(100% / 12 * 1); }
  .xl-2 {
    width: calc(100% / 12 * 2); }
  .xl-offset-2 {
    margin-left: calc(100% / 12 * 2); }
  .xl-push-x {
    left: calc(100% / 12 * 2); }
  .xl-pull-x {
    right: calc(100% / 12 * 2); }
  .xl-3 {
    width: calc(100% / 12 * 3); }
  .xl-offset-3 {
    margin-left: calc(100% / 12 * 3); }
  .xl-push-x {
    left: calc(100% / 12 * 3); }
  .xl-pull-x {
    right: calc(100% / 12 * 3); }
  .xl-4 {
    width: calc(100% / 12 * 4); }
  .xl-offset-4 {
    margin-left: calc(100% / 12 * 4); }
  .xl-push-x {
    left: calc(100% / 12 * 4); }
  .xl-pull-x {
    right: calc(100% / 12 * 4); }
  .xl-5 {
    width: calc(100% / 12 * 5); }
  .xl-offset-5 {
    margin-left: calc(100% / 12 * 5); }
  .xl-push-x {
    left: calc(100% / 12 * 5); }
  .xl-pull-x {
    right: calc(100% / 12 * 5); }
  .xl-6 {
    width: calc(100% / 12 * 6); }
  .xl-offset-6 {
    margin-left: calc(100% / 12 * 6); }
  .xl-push-x {
    left: calc(100% / 12 * 6); }
  .xl-pull-x {
    right: calc(100% / 12 * 6); }
  .xl-7 {
    width: calc(100% / 12 * 7); }
  .xl-offset-7 {
    margin-left: calc(100% / 12 * 7); }
  .xl-push-x {
    left: calc(100% / 12 * 7); }
  .xl-pull-x {
    right: calc(100% / 12 * 7); }
  .xl-8 {
    width: calc(100% / 12 * 8); }
  .xl-offset-8 {
    margin-left: calc(100% / 12 * 8); }
  .xl-push-x {
    left: calc(100% / 12 * 8); }
  .xl-pull-x {
    right: calc(100% / 12 * 8); }
  .xl-9 {
    width: calc(100% / 12 * 9); }
  .xl-offset-9 {
    margin-left: calc(100% / 12 * 9); }
  .xl-push-x {
    left: calc(100% / 12 * 9); }
  .xl-pull-x {
    right: calc(100% / 12 * 9); }
  .xl-10 {
    width: calc(100% / 12 * 10); }
  .xl-offset-10 {
    margin-left: calc(100% / 12 * 10); }
  .xl-push-x {
    left: calc(100% / 12 * 10); }
  .xl-pull-x {
    right: calc(100% / 12 * 10); }
  .xl-11 {
    width: calc(100% / 12 * 11); }
  .xl-offset-11 {
    margin-left: calc(100% / 12 * 11); }
  .xl-push-x {
    left: calc(100% / 12 * 11); }
  .xl-pull-x {
    right: calc(100% / 12 * 11); }
  .xl-12 {
    width: calc(100% / 12 * 12); }
  .xl-offset-12 {
    margin-left: calc(100% / 12 * 12); }
  .xl-push-x {
    left: calc(100% / 12 * 12); }
  .xl-pull-x {
    right: calc(100% / 12 * 12); } }

nav {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #21C2A2; }
  nav .logo {
    max-width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding-right: 25px; }
  nav a {
    color: white !important;
    text-decoration: none; }
    nav a:hover {
      color: black; }
  nav .hamburger {
    cursor: pointer;
    display: inline-block;
    width: 65%;
    text-align: right;
    color: white; }
  nav .menu {
    display: none;
    list-style: none;
    background: white;
    z-index: 999; }
    nav .menu li {
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      text-transform: uppercase; }
  nav .menu--open {
    position: absolute;
    top: 55px;
    left: 0;
    display: block;
    float: left;
    width: 100%;
    box-shadow: #2b2b2b 1px; }
  nav .menu--closed {
    display: none; }
  nav .nav-wrapper {
    position: relative; }

.nav--index {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

@media screen and (min-width: 1100px) {
  nav .hamburger {
    display: none; }
  nav .logo {
    max-width: 170px; }
  nav .menu {
    background: transparent;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
    nav .menu li {
      padding: 0 10px;
      display: inline; } }

.side-navigation {
  width: 25%;
  max-width: 250px;
  height: 100%;
  background: #3C505B;
  color: white;
  position: fixed; }
  .side-navigation ul {
    list-style: none; }
    .side-navigation ul li a {
      text-decoration: none;
      display: block;
      padding: 15px; }
    .side-navigation ul li:hover {
      background: rgba(255, 255, 255, 0.8); }

@media screen and (min-width: 768px) {
  .side-navigation + .wrapper {
    margin-top: 42px;
    margin-left: 250px;
    width: 75%;
    padding: 25px 0; } }

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px; }
  .input-group label {
    font-weight: bold;
    margin-left: 5px;
    font-size: 80%; }

.input {
  width: 100%;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  padding: 6px 12px; }

textarea.input {
  min-height: 100px; }

.has-error .input {
  border: 1px solid #A95151; }

.button {
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.2s all ease; }

.button-primary, a.button-primary {
  background: #21C2A2;
  color: white; }

.button-primary-outline, a.button-primary-outline {
  border: 1px solid #21C2A2;
  color: #21C2A2; }
  .button-primary-outline:hover, a.button-primary-outline:hover {
    color: white;
    background: #21C2A2; }

.button-info, a.button-info {
  background: #1696B8;
  color: white; }

.button-info-outline, a.button-info-outline {
  border: 1px solid #1696B8;
  color: #1696B8; }
  .button-info-outline:hover, a.button-info-outline:hover {
    color: white;
    background: #1696B8; }

.button-success, a.button-success {
  background: #2ecc71;
  color: white; }

.button-success-outline, a.button-success-outline {
  border: 1px solid #2ecc71;
  color: #2ecc71; }
  .button-success-outline:hover, a.button-success-outline:hover {
    color: white;
    background: #2ecc71; }

.button-warning, a.button-warning {
  background: #f39c12;
  color: white; }

.button-warning-outline, a.button-warning-outline {
  border: 1px solid #f39c12;
  color: #f39c12; }
  .button-warning-outline:hover, a.button-warning-outline:hover {
    color: white;
    background: #f39c12; }

.button-danger, a.button-danger {
  background: #A95151;
  color: white; }

.button-danger-outline, a.button-danger-outline {
  border: 1px solid #A95151;
  color: #A95151; }
  .button-danger-outline:hover, a.button-danger-outline:hover {
    color: white;
    background: #A95151; }

button.button {
  border-color: transparent; }

.panel {
  background: white;
  border: 1px solid #eaeaea; }
  .panel .panel__heading {
    padding: 10px;
    background: #eee;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea; }

.tabs {
  border: 1px solid #eaeaea; }
  .tabs .tabs__heading ul {
    list-style: none;
    border-bottom: 1px solid #eaeaea; }
    .tabs .tabs__heading ul li {
      display: inline-block;
      padding: 10px;
      border: 1px solid #eaeaea; }
    .tabs .tabs__heading ul li.active {
      background: #eaeaea; }
  .tabs .tabs__content {
    padding: 10px; }

@media screen and (min-width: 768px) {
  .auth {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    .auth > div {
      width: 100%; } }

.admin-users .admin-users__panel-body {
  padding: 0; }
  .admin-users .admin-users__panel-body ul {
    list-style: none;
    width: 100%;
    margin: 0; }
    .admin-users .admin-users__panel-body ul li {
      padding: 15px; }
      .admin-users .admin-users__panel-body ul li:hover {
        background: rgba(155, 155, 155, 0.5); }
      .admin-users .admin-users__panel-body ul li:nth-child(2n) {
        background: #EEEEEE; }

.index-page .panel {
  margin-top: 15px;
  margin-bottom: 15px; }

.index-page .top-pages .panel__body > h1 {
  margin-bottom: 15px; }

.index-page .recent-pages {
  padding: 0; }
  .index-page .recent-pages .panel__body ul {
    list-style: none;
    width: 100%;
    height: 100%; }
    .index-page .recent-pages .panel__body ul li {
      padding: 10px; }
      .index-page .recent-pages .panel__body ul li:nth-child(odd) {
        background: #f2f2f2; }

.pages-page .template-variables {
  margin-top: 25px; }
  .pages-page .template-variables > h3 {
    margin-bottom: 25px; }

.pages-page .page-actions {
  padding: 0; }
  .pages-page .page-actions ul {
    list-style: none;
    width: 100%;
    height: 100%; }
    .pages-page .page-actions ul li {
      padding: 10px; }
      .pages-page .page-actions ul li:nth-child(odd) {
        background: #f2f2f2; }

.cms-nav-pill .panel-body {
  padding: 0; }

.cms-nav-pill a {
  border-bottom: 1px solid #eee;
  border-left: 3px solid transparent; }

.cms-nav-pill .active a {
  border-left: 3px solid #4A90E2; }

/*# sourceMappingURL=app.css.map */
