@import "components/variables";
@import "components/reset";
@import "components/helpers";
@import "components/navigation";
@import "components/forms";
@import "components/buttons";
@import "components/panel";
@import "components/tabs";
@import "components/nav";

@import "pages/login";
@import "pages/users";
@import "pages/index";
@import "pages/pages";

.cms-nav-pill {
	.panel-body {
		padding: 0;
	}

	a {
		border-bottom: 1px solid #eee;
		border-left: 3px solid transparent;
	}

	.active {
		a {
			border-left: 3px solid #4A90E2;
		}
	}
}